# TiMOS-B-22.10.R2 both/x86_64 Nokia 7750 SR Copyright (c) 2000-2022 Nokia.
# All rights reserved. All use subject to applicable license agreements.
# Built on Wed Dec 21 17:45:12 PST 2022 by builder in /builds/c/2210B/R2/panos/main/sros
# Configuration format version 22.10 revision 0

# Generated 2023-03-21T11:08:21.3Z by admin from 172.31.255.29
# Commit ID 2
#   Committed 2023-03-21T11:08:16.0Z by admin (MD-CLI) from 172.31.255.29

configure {
    card 1 {
        admin-state enable
        card-type iom-1
        mda 1 {
            admin-state enable
            mda-type me12-100gb-qsfp28
        }
        mda 2 {
        }
        fp 1 {
        }
    }
    log {
        filter "1001" {
            named-entry "10" {
                description "Collect only events of major severity or higher"
                action forward
                match {
                    severity {
                        gte major
                    }
                }
            }
        }
        log-id "100" {
            description "Default Serious Errors Log"
            filter "1001"
            source {
                main true
            }
            destination {
                memory {
                    max-entries 500
                }
            }
        }
        log-id "99" {
            description "Default System Log"
            source {
                main true
            }
            destination {
                memory {
                    max-entries 500
                }
            }
        }
    }
    policy-options {
        prefix-list "System" {
            prefix 185.70.40.2/32 type exact {
            }
        }
        prefix-list "WAN-EDGE-loopbacks" {
            prefix 169.254.1.252/32 type range {
                start-length 32
                end-length 32
            }
            prefix 169.254.1.253/32 type range {
                start-length 32
                end-length 32
            }
            prefix 169.254.2.252/32 type range {
                start-length 32
                end-length 32
            }
            prefix 169.254.2.253/32 type range {
                start-length 32
                end-length 32
            }
            prefix 169.254.3.253/32 type range {
                start-length 32
                end-length 32
            }
        }
        prefix-list "default-route" {
            prefix 0.0.0.0/0 type exact {
            }
        }
        prefix-list "proton-public" {
            prefix 185.70.40.0/22 type range {
                start-length 22
                end-length 24
            }
        }
        policy-statement "all" {
            default-action {
                action-type accept
            }
        }
        policy-statement "export-AS1299" {
            entry 10 {
                from {
                    prefix-list ["default-route"]
                }
                action {
                    action-type next-policy
                }
            }
        }
        policy-statement "export-core" {
            entry 10 {
                from {
                    prefix-list ["WAN-EDGE-loopbacks"]
                }
                action {
                    action-type accept
                }
            }
            entry 20 {
                from {
                    prefix-list ["default-route"]
                }
                action {
                    action-type accept
                }
            }
            entry 30 {
                action {
                    action-type reject
                }
            }
        }
        policy-statement "export-proton-public" {
            entry 10 {
                from {
                    prefix-list ["proton-public"]
                    protocol {
                        name [direct]
                    }
                }
                to {
                    protocol {
                        name [bgp]
                    }
                }
                action {
                    action-type accept
                }
            }
        }
        policy-statement "import-AS1299" {
            entry 10 {
                from {
                    prefix-list ["default-route"]
                }
                action {
                    action-type accept
                }
            }
            entry 20 {
                from {
                    prefix-list ["proton-public"]
                }
                action {
                    action-type reject
                }
            }
            entry 30 {
                action {
                    action-type accept
                }
            }
        }
        policy-statement "import-core" {
            entry 10 {
                from {
                    prefix-list ["proton-public"]
                }
                action {
                    action-type accept
                }
            }
            entry 20 {
                action {
                    action-type reject
                }
            }
        }
    }
    port 1/1/c1 {
        admin-state enable
        description "Core: cr1-e1-10"
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c1/1 {
        admin-state enable
        ethernet {
            mode network
            encap-type null
            mtu 9212
        }
    }
    port 1/1/c2 {
        admin-state enable
        description "Core: cr2-e1-10"
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c2/1 {
        admin-state enable
        ethernet {
            mode network
            encap-type null
            mtu 9212
        }
    }
    port 1/1/c3 {
        admin-state enable
        description "Core: cr3-e1-10"
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c3/1 {
        admin-state enable
        ethernet {
            mode network
            encap-type null
            mtu 9212
        }
    }
    port 1/1/c4 {
        admin-state enable
        description "Transit: AS1299"
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c4/1 {
        admin-state enable
        ethernet {
            mode network
            encap-type null
            mtu 9212
        }
    }
    port 1/1/c5 {
    }
    port 1/1/c6 {
    }
    port 1/1/c7 {
    }
    port 1/1/c8 {
    }
    port 1/1/c9 {
    }
    port 1/1/c10 {
    }
    port 1/1/c11 {
    }
    port 1/1/c12 {
    }
    router "Base" {
        autonomous-system 62371
        ecmp 3
        interface "system" {
            ipv4 {
                primary {
                    address 169.254.1.252
                    prefix-length 32
                }
            }
        }
        interface "toAS1299" {
            port 1/1/c4/1
            ipv4 {
                primary {
                    address 192.0.2.2
                    prefix-length 24
                }
            }
        }
        interface "toCore-cr1" {
            port 1/1/c1/1
            ipv4 {
                primary {
                    address 169.254.211.2
                    prefix-length 30
                }
            }
        }
        interface "toCore-cr2" {
            port 1/1/c2/1
            ipv4 {
                primary {
                    address 169.254.212.2
                    prefix-length 30
                }
            }
        }
        interface "toCore-cr3" {
            port 1/1/c3/1
            ipv4 {
                primary {
                    address 169.254.213.2
                    prefix-length 30
                }
            }
        }
        bgp {
            admin-state enable
            router-id 185.70.40.2
            rapid-withdrawal true
            multipath {
                max-paths 4
            }
            group "Core" {
                next-hop-self true
                type external
                peer-as 65999
                family {
                    ipv4 true
                }
                import {
                    policy ["import-core"]
                }
                export {
                    policy ["export-core"]
                }
            }
            group "Transit_AS1299" {
                next-hop-self true
                type external
                peer-as 1299
                family {
                    ipv4 true
                }
                import {
                    policy ["import-AS1299"]
                }
                export {
                    policy ["export-AS1299"]
                }
            }
            neighbor "169.254.211.1" {
                admin-state enable
                group "Core"
            }
            neighbor "169.254.212.1" {
                admin-state enable
                group "Core"
            }
            neighbor "169.254.213.1" {
                admin-state enable
                group "Core"
            }
            neighbor "192.0.2.1" {
                admin-state enable
                group "Transit_AS1299"
            }
        }
    }
    system {
        name "ed1"
        dns {
            address-pref ipv4-only
        }
        grpc {
            admin-state enable
            allow-unsecure-connection
            gnmi {
                auto-config-save true
            }
            rib-api {
                admin-state enable
            }
        }
        management-interface {
            configuration-mode model-driven
            netconf {
                admin-state enable
                auto-config-save true
            }
            snmp {
                packet-size 9216
                streaming {
                    admin-state enable
                } 
            }
        }
        bluetooth {
            advertising-timeout 30
        }
        login-control {
            ssh {
                inbound-max-sessions 30
            }
        }
        security {
            aaa {
                local-profiles {
                    profile "administrative" {
                        default-action permit-all
                        entry 10 {
                            match "configure system security"
                            action permit
                        }
                        entry 20 {
                            match "show system security"
                            action permit
                        }
                        entry 30 {
                            match "tools perform security"
                            action permit
                        }
                        entry 40 {
                            match "tools dump security"
                            action permit
                        }
                        entry 50 {
                            match "admin system security"
                            action permit
                        }
                        entry 100 {
                            match "configure li"
                            action deny
                        }
                        entry 110 {
                            match "show li"
                            action deny
                        }
                        entry 111 {
                            match "clear li"
                            action deny
                        }
                        entry 112 {
                            match "tools dump li"
                            action deny
                        }
                        netconf {
                            base-op-authorization {
                                action true
                                cancel-commit true
                                close-session true
                                commit true
                                copy-config true
                                create-subscription true
                                delete-config true
                                discard-changes true
                                edit-config true
                                get true
                                get-config true
                                get-data true
                                get-schema true
                                kill-session true
                                lock true
                                validate true
                            }
                        }
                    }
                    profile "default" {
                        entry 10 {
                            match "exec"
                            action permit
                        }
                        entry 20 {
                            match "exit"
                            action permit
                        }
                        entry 30 {
                            match "help"
                            action permit
                        }
                        entry 40 {
                            match "logout"
                            action permit
                        }
                        entry 50 {
                            match "password"
                            action permit
                        }
                        entry 60 {
                            match "show config"
                            action deny
                        }
                        entry 65 {
                            match "show li"
                            action deny
                        }
                        entry 66 {
                            match "clear li"
                            action deny
                        }
                        entry 67 {
                            match "tools dump li"
                            action deny
                        }
                        entry 68 {
                            match "state li"
                            action deny
                        }
                        entry 70 {
                            match "show"
                            action permit
                        }
                        entry 75 {
                            match "state"
                            action permit
                        }
                        entry 80 {
                            match "enable-admin"
                            action permit
                        }
                        entry 90 {
                            match "enable"
                            action permit
                        }
                        entry 100 {
                            match "configure li"
                            action deny
                        }
                    }
                }
            }
            ssh {
                server-cipher-list-v2 {
                    cipher 190 {
                        name aes256-ctr
                    }
                    cipher 192 {
                        name aes192-ctr
                    }
                    cipher 194 {
                        name aes128-ctr
                    }
                    cipher 200 {
                        name aes128-cbc
                    }
                    cipher 205 {
                        name 3des-cbc
                    }
                    cipher 225 {
                        name aes192-cbc
                    }
                    cipher 230 {
                        name aes256-cbc
                    }
                }
                client-cipher-list-v2 {
                    cipher 190 {
                        name aes256-ctr
                    }
                    cipher 192 {
                        name aes192-ctr
                    }
                    cipher 194 {
                        name aes128-ctr
                    }
                    cipher 200 {
                        name aes128-cbc
                    }
                    cipher 205 {
                        name 3des-cbc
                    }
                    cipher 225 {
                        name aes192-cbc
                    }
                    cipher 230 {
                        name aes256-cbc
                    }
                }
                server-mac-list-v2 {
                    mac 200 {
                        name hmac-sha2-512
                    }
                    mac 210 {
                        name hmac-sha2-256
                    }
                    mac 215 {
                        name hmac-sha1
                    }
                    mac 220 {
                        name hmac-sha1-96
                    }
                    mac 225 {
                        name hmac-md5
                    }
                    mac 240 {
                        name hmac-md5-96
                    }
                }
                client-mac-list-v2 {
                    mac 200 {
                        name hmac-sha2-512
                    }
                    mac 210 {
                        name hmac-sha2-256
                    }
                    mac 215 {
                        name hmac-sha1
                    }
                    mac 220 {
                        name hmac-sha1-96
                    }
                    mac 225 {
                        name hmac-md5
                    }
                    mac 240 {
                        name hmac-md5-96
                    }
                }
            }
            user-params {
                local-user {
                    user "admin" {
                        password "$2y$10$TQrZlpBDra86.qoexZUzQeBXDY1FcdDhGWdD9lLxMuFyPVSm0OGy6"
                        access {
                            console true
                            ftp true
                            snmp true
                            netconf true
                            grpc true
                        }
                        console {
                            member ["administrative"]
                        }
                    }
                    user "vrnetlab" {
                        password "$2y$10$dCztCBsO8rSnx9ptA8.IM.Kt5uZiemx.WYkAIRTTzbGQWHhDVZ8Au"
                        access {
                            console true
                            netconf true
                        }
                        console {
                            member ["administrative" "default"]
                        }
                    }
                }
            }
        }
    }
}

persistent-indices {
    description "Persistent indices are maintained by the system and must not be modified."
    vrtr-if-id {
        router-name "Base" interface-name "toAS1299" vrtr-id 1 if-index 2
        router-name "Base" interface-name "toCore-cr1" vrtr-id 1 if-index 3
        router-name "Base" interface-name "toCore-cr2" vrtr-id 1 if-index 4
        router-name "Base" interface-name "toCore-cr3" vrtr-id 1 if-index 5
    }
}

# Finished 2023-03-21T11:08:21.4Z
