routing-policy {
    policy underlay-export {
        default-action {
            reject {
            }
        }
        statement 10 {
            match {
                protocol isis
                isis {
                    route-type internal
                }
            }
            action {
                accept {
                }
            }
        }
    }
    policy ibgp-overlay {
        default-action {
            reject {
            }
        }
        statement 10 {
            match {
                family evpn
                protocol bgp
            }
            action {
                accept {
                }
            }
        }
    }
}

network-instance default {
    protocols {
        isis {
            instance underlay {
                admin-state enable
                level-capability L2
                max-ecmp-paths 3
                export-policy underlay-export
                # 49.dc.pod.rack.device.00
                net [
                    49.0000.0001.0001.0001.00
                ]
                ipv4-unicast {
                    admin-state enable
                }
                auto-cost {
                    reference-bandwidth 1000000
                }
                level 2 {
                    metric-style wide
                }
            }
        }
    }
}

interface ethernet-1/49 {
    admin-state enable
    subinterface 0 {
        type routed
        description "to pod1-sp1"
        admin-state enable
        ipv6 {
            address fc00::1:11:149:1/127 {
            }
        }
    }
}
network-instance default {
    interface ethernet-1/49.0 {
    }
    protocols {
        isis {
            instance underlay {
                interface ethernet-1/49.0 {
                    circuit-type point-to-point
                    level 2 {

                    }
                }
            }
        }
    }
}

interface ethernet-1/50 {
    admin-state enable
    subinterface 0 {
        type routed
        description "to pod1-sp2"
        admin-state enable
        ipv6 {
            address fc00::1:21:250:1/127 {
            }
        }
    }
}
network-instance default {
    interface ethernet-1/50.0 {
    }
    protocols {
        isis {
            instance underlay {
                interface ethernet-1/50.0 {
                    circuit-type point-to-point
                    level 2 {

                    }
                }
            }
        }
    }
}


interface ethernet-1/51 {
    admin-state enable
    subinterface 0 {
        type routed
        description "to pod1-sp3"
        admin-state enable
        ipv6 {
            address fc00::1:31:251:1/127 {
            }
        }
    }
}
network-instance default {
    interface ethernet-1/51.0 {
    }
    protocols {
        isis {
            instance underlay {
                interface ethernet-1/51.0 {
                    circuit-type point-to-point
                    level 2 {

                    }
                }
            }
        }
    }
}


interface system0 {
    admin-state enable
    subinterface 0 {
        ipv6 {
            address fc00::1:1:0:0/128 {
            }
        }
    }
}

network-instance default {
    interface system0.0 {
    }
    protocols {
        isis {
            instance underlay {
                interface system0.0 {
                    level 2 {
                    }
                }
            }
        }
    }
}



network-instance default {
    protocols {
        bgp {
            autonomous-system 65001
            router-id 100.64.1.1
            group ibgp-overlay {
                export-policy ibgp-overlay
                import-policy ibgp-overlay
                peer-as 65001
                ipv4-unicast {
                    admin-state disable
                }
                evpn {
                    admin-state enable
                }
                local-as 65001 {
                }
                timers {
                    minimum-advertisement-interval 1
                }
                transport {
                    local-address fc00::1:1:0:0
                }
            }
            
            neighbor fc00::1:2:0:0 {
                peer-group ibgp-overlay
            }
            
            neighbor fc00::1:3:0:0 {
                peer-group ibgp-overlay
            }
            
            neighbor fc00::1:4:0:0 {
                peer-group ibgp-overlay
            }
            
            neighbor fc00::1:5:0:0 {
                peer-group ibgp-overlay
            }
            
            neighbor fc00::1:6:0:0 {
                peer-group ibgp-overlay
            }
        }
    }
}


interface ethernet-1/1 {
    vlan-tagging true
    subinterface 0 {
        type bridged
        admin-state enable
        vlan {
            encap {
                untagged {
                }
            }
        }
    }
}

tunnel-interface vxlan1 {
    vxlan-interface 1 {
        type bridged
        ingress {
            vni 1
        }
    }
}

network-instance vrf-1 {
    type mac-vrf
    admin-state enable
    interface ethernet-1/1.0 {
    }
    vxlan-interface vxlan1.1 {
    }
}

network-instance vrf-1 {
    protocols {
        bgp-evpn {
            bgp-instance 1 {
                admin-state enable
                vxlan-interface vxlan1.1
                evi 111
            }
        }
        bgp-vpn {
            bgp-instance 1 {
                route-target {
                    export-rt target:100:111
                    import-rt target:100:111
                }
            }
        }
    }
}