routing-policy {
    policy underlay-export {
        default-action {
            reject {
            }
        }
        statement 10 {
            match {
                protocol isis
                isis {
                    route-type internal
                }
            }
            action {
                accept {
                }
            }
        }
    }
    policy ibgp-overlay {
        default-action {
            reject {
            }
        }
        statement 10 {
            match {
                family evpn
                protocol bgp
            }
            action {
                accept {
                }
            }
        }
    }
}
network-instance default {
    protocols {
        isis {
            instance underlay {
                admin-state enable
                level-capability L2
                max-ecmp-paths 3
                export-policy underlay-export
                # 49.dc.pod.rack.device.00
                net [
                    49.0000.0001.0000.0003.00
                ]
                ipv4-unicast {
                    admin-state enable
                }
                auto-cost {
                    reference-bandwidth 1000000
                }
                level 2 {
                    metric-style wide
                }
            }
        }
    }
}

interface ethernet-1/1 {
    admin-state enable
    subinterface 0 {
        type routed
        description "to pod1-lf1"
        admin-state enable
        ipv6 {
            address fc00::1:31:251:0/127 {
            }
        }
    }
}
network-instance default {
    interface ethernet-1/1.0 {
    }
    protocols {
        isis {
            instance underlay {
                interface ethernet-1/1.0 {
                    circuit-type point-to-point
                    level 2 {

                    }
                }
            }
        }
    }
}

interface ethernet-1/2 {
    admin-state enable
    subinterface 0 {
        type routed
        description "to pod1-lf2"
        admin-state enable
        ipv6 {
            address fc00::1:32:251:0/127 {
            }
        }
    }
}
network-instance default {
    interface ethernet-1/2.0 {
    }
    protocols {
        isis {
            instance underlay {
                interface ethernet-1/2.0 {
                    circuit-type point-to-point
                    level 2 {

                    }
                }
            }
        }
    }
}

interface ethernet-1/3 {
    admin-state enable
    subinterface 0 {
        type routed
        description "to pod1-lf3"
        admin-state enable
        ipv6 {
            address fc00::1:33:351:0/127 {
            }
        }
    }
}
network-instance default {
    interface ethernet-1/3.0 {
    }
    protocols {
        isis {
            instance underlay {
                interface ethernet-1/3.0 {
                    circuit-type point-to-point
                    level 2 {

                    }
                }
            }
        }
    }
}

interface ethernet-1/4 {
    admin-state enable
    subinterface 0 {
        type routed
        description "to pod1-lf4"
        admin-state enable
        ipv6 {
            address fc00::1:34:451:0/127 {
            }
        }
    }
}
network-instance default {
    interface ethernet-1/4.0 {
    }
    protocols {
        isis {
            instance underlay {
                interface ethernet-1/4.0 {
                    circuit-type point-to-point
                    level 2 {

                    }
                }
            }
        }
    }
}

interface ethernet-1/5 {
    admin-state enable
    subinterface 0 {
        type routed
        description "to pod1-lf5"
        admin-state enable
        ipv6 {
            address fc00::1:35:551:0/127 {
            }
        }
    }
}
network-instance default {
    interface ethernet-1/5.0 {
    }
    protocols {
        isis {
            instance underlay {
                interface ethernet-1/5.0 {
                    circuit-type point-to-point
                    level 2 {

                    }
                }
            }
        }
    }
}

interface ethernet-1/6 {
    admin-state enable
    subinterface 0 {
        type routed
        description "to pod1-lf6"
        admin-state enable
        ipv6 {
            address fc00::1:36:651:0/127 {
            }
        }
    }
}
network-instance default {
    interface ethernet-1/6.0 {
    }
    protocols {
        isis {
            instance underlay {
                interface ethernet-1/6.0 {
                    circuit-type point-to-point
                    level 2 {

                    }
                }
            }
        }
    }
}

